# Dependencies
node_modules

# Build output
dist

# Environment variables and API keys
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode
.idea

# TypeScript cache
*.tsbuildinfo